*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Calibri;
    outline: none;
}
img {
    top: 0px;
}
/**/
body {
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.wrapper {
    max-width: 400px;
}
.input {
    width: 300px;
    outline: none;
    padding: 5px 10px;
    caret-color: rgb(168, 168, 168);
    border: 1px solid lightblue;
    background-color: whitesmoke;
}